.heart {
	position: relative;
	height: 160px;
	width: 100px;
	background: #d16ba5;
	border-radius: 200px 200px 0 0;
	transform: rotate(45deg);
}

.heart{
	content: "";
	position: absolute;
	background: #d16ba5;
	height: 160px;
	width: 100px;
	transform: rotate(-90deg);
	border-radius: 200px 200px 0 0;
	left: -30px;
	top: 30px;
}